use leptos::*;

pub fn use_{{ node.id | capitalize }}({% for input in node.input %}{{ input.name }}: String{% if not loop.last %}, {% endif %}{% endfor %}) -> impl Resource<(), ()> {
    create_resource(|| (), |_| async move { () })
}
