#[allow(unused_imports)]
use axum::{routing::{delete, get, post, put}, Router};

use crate::handlers::{{ module_name }}::*;

pub fn {{ module_name }}_routes() -> Router {
    Router::new()
{% for uc in usecases %}        .route("{{ uc.path }}", {{ uc.method }}({{ uc.id }}_handler))
{% endfor %}}
