use axum::{routing::get, Router};

use crate::handlers::{{ module_name }}::{{ node.id }}_handler;

pub fn {{ module_name }}_routes() -> Router {
    Router::new()
        .route("/{{ module_name }}", get({{ node.id }}_handler))
}
