use serde::{Deserialize, Serialize};
use typeshare::typeshare;
use uuid::Uuid;
use chrono::NaiveDateTime;

#[typeshare]
#[derive(Debug, Serialize, Deserialize)]
pub struct {{ node.id | capitalize }} {
    pub id: Uuid,
{% for field in fields %}    pub {{ field.name }}: {{ field.rust_type }},
{% endfor %}    pub created_at: NaiveDateTime,
}
