use diesel::prelude::*;
use serde::{Deserialize, Serialize};
use uuid::Uuid;

use super::schema::usuarios;

#[derive(Queryable, Insertable, Serialize, Deserialize)]
#[diesel(table_name = usuarios)]
pub struct Usuario {
    pub id: Uuid,
    pub email: String,
    pub password: String,
    pub creado_en: chrono::NaiveDateTime,
}
